@{
    ViewBag.Title = "Home Page";
}

<div>
    @if (TempData["Message"] != null)
    {
        <br/>
        <p>@TempData["Message"]</p>
        TempData.Clear();
    }
    @Html.Partial("SendEmail")
</div>