@{
    ViewBag.Title = "Home Page";
}

<h2>
    Send Email using Exchange Services
</h2>
<div>
    @if (TempData["Message"] != null)
    {
        <div class="row">
            <br/>
            <p>@TempData["Message"]</p>
        </div>
    }
    <div class="row">
        @Html.Partial("SendEmail")
    </div>
</div>